.navb{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.stat{
  display: flex;
  justify-content: flex-end;
}

.navlinkdiv {
  display: flex;
  justify-content: space-evenly;
}

.navlinkdiv a{

 color: red;
  text-decoration: none;
}